<li>
    <% if(locals.user && (locals.user.id == comment.user.id) ) { %>
        <small><a href="/comments/destroy/<%= comment.id %>">X</a></small>
    <% } %>
    <p><%= comment.content %></p>
    <small><%= comment.user.name %></small>
</li>