<li>
    <div class="main-comment" id="comment-<%= comment._id %>">
        <% if(locals.user && (locals.user.id == comment.user.id) ) { %>
            <a class="delete-comment-btn" href="/comments/destroy/<%= comment.id %>">X</a>
        <% } %>
        <p class="comment-content">'<%= comment.content %>'</p>
        <p class="comment-user"><%= comment.user.name %></p>
    </div>
</li>