<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
<footer>
    <p>SoCode</p>
    <div class="links">
        <a href="/about">About Us</a>
        <a href="/">Home</a>
    </div>
<footer>