<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="">
            <input type="email" name="email" placeholder="Enter Your E-mail">
            <input type="text" name="name" placeholder="Enter Your Name">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>