<link rel="stylesheet" href="/css/user_sign_in.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<div class="main-container">
    <h1>Sign In</h1>
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Your E-mail" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In">
    </form>
</div>
